---
// Digital Rain Background Component - Pure CSS animated particles
// Reduced particle count for better performance (20 total, 15 on mobile)
---

<div class="digital-rain" aria-hidden="true">
  <div class="rain-particles">
    {Array.from({ length: 20 }).map(() => (
      <div class="rain-particle"></div>
    ))}
  </div>
</div>

